<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <title>Forgot Password</title>
</head>

<body>
<!--navbar-->
<section th:insert="navbar :: navbar" style="display: flex;flex-direction: column;"></section>

<div class="fp-cont">
    <div class="fp-form-cont">
        <form th:action="@{/process-fp}" method="post" class="fp-form" id="fp-form">
            <fieldset>
                <legend>Forgot Password</legend>
                <input type="email" name="email" id="username" placeholder="Enter registered email" required>
                <p class="color-error" id="email-error">Please enter valid email</p>
                <p class="color-error" id="ere">Email id is not registered</p>
                <button type="button" class="fp-button" id="fp-gob" onclick="verifyFpEmail()">Generate OTP</button>
                <button type="submit" id="fp-sbn" style="display: none"></button>
            </fieldset>
        </form>
    </div>
</div>

<!-- loader -->
<div class="loader-container" id="loader-container">
    <div class="loader"></div>
    <p class="loader-message">Verifying email</p>
</div>


<script>
    $(document).ready(() => {
        $("#loader-container").hide();
        $("#email-error").hide();
        $("#ere").hide();
    })

    $('#fp-form').on('keyup keypress', (e) => {
        const keyCode = e.keyCode || e.which;

        if (keyCode === 13) {
            e.preventDefault();
            verifyFpEmail();
            return false;
        }
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>