<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <title>ApnaGurukul - Home</title>
</head>

<body>
<section th:insert="navbar :: navbar" style="display: flex;flex-direction: column;"></section>

<div class="home-cont-1">
    <img th:src="@{/images/aglogo.png}" alt="apna gurukul logo" class="hmsp1-img" src="">
    <p class="hmcn1-p" id="about-animation">Apna Gurukul</p>
</div>

<div class="hm-osts">
    <h1>Statistics</h1>

    <div class="osts-cards">
        <div class="osts-card">
            <p class="stats" th:data-count="${usersCount}"></p>
            <p>Total users</p>
        </div>

        <div class="osts-card">
            <p class="stats" th:data-count="${totalBooks}"></p>
            <p>Total books</p>
        </div>
    </div>
</div>

<div class="hm-srvscnt">
    <h1>Services offered</h1>

    <div class="serv-cards">
        <div class="serv-card" onclick="swal('not implemented')">
            <img th:src="@{/images/teacher.png}" alt="Teacher icon" src="">
            <h3>Teacher</h3>
            <p>Find a suitable teacher for you</p>
        </div>

        <div class="serv-card" onclick="swal('not implemented')">
            <img th:src="@{/images/student.png}" alt="Student icon" src="">
            <h3>Student</h3>
            <p>Find student to teach</p>
        </div>

        <div class="serv-card" onclick="swal('not implemented')">
            <img th:src="@{/images/buy-book.png}" alt="Buy book icon" src="">
            <h3>Buy books</h3>
            <p>Buy books at affordable cost</p>
        </div>

        <div class="serv-card" onclick="window.location.assign('/sell-book')">
            <img src="images/sell-books.png" alt="Sell book icon">
            <h3>Sell books</h3>
            <p>Sell book at lowest possible cost</p>
        </div>
    </div>
</div>

<div class="hm-ogcnt">
    <h2>Our Goal</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur ab et rerum laborum repudiandae
        placeat, vitae adipisci similique voluptas obcaecati magnam labore magni. Animi magni tempore id reiciendis, sed
        deleniti adipisci voluptatum a consequuntur nemo consequatur odio accusantium ad, dolor possimus? Cum ullam
        natus sapiente, cumque voluptatibus fugiat possimus?</p>
    <button class="knab-btn" onclick="window.location.replace('/about-us')">Know more</button>
</div>

<div class="footer">
    <div class="footer-content">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus in excepturi aut dicta perferendis
            voluptate at optio, magnam blanditiis doloremque neque ad. Voluptas, earum tempora.</p>
    </div>

    <ul class="social-links">
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://www.discord.com" target="_blank">Discord</a></li>
    </ul>

    <ul class="other-links">
        <li><a href="/terms-and-conditions" target="_blank">Terms & Conditions</a></li>
        <li><a href="/about-us" target="_blank">About us</a></li>
        <li><a href="/contact-us" target="_blank">Contact us</a></li>
    </ul>
</div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
<script type="text/javascript" th:src="@{/js/homescript.js}"></script>
<script type="text/javascript" th:src="@{/js/countup.js}"></script>
</body>

</html>