<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <title>Login - ApnaGurukul</title>
</head>

<body>

<!--navbar-->
<section th:insert="navbar :: navbar" style="display: flex;flex-direction: column;"></section>

<div class="login-container">
    <form th:action="@{/verify-login}" method="post" class="login-form" id="login-form">
        <h1 class="heading">Login</h1>
        <p class="color-error" id="inv-cred" style="font-size: 1rem; display: none">Invalid login credentials</p>

        <input type="text" class="login-input-field" id="username" name="username" autocomplete="off"
               placeholder="Enter registered email" value="gargakhilesh0407@gmail.com" autofocus/>
        <p class="color-error" id="ere">Email id is not registered</p>
        <p class="color-error" id="eee">Please enter valid email</p>

        <input type="password" class="login-input-field" id="password" name="password" autocomplete="off"
               placeholder="Enter password" onfocusout="validatePassword()" value="Pass@1234"/>
        <p class="color-error" id="password-error" style="width: 70%">Your password must be minimum 8 characters
            long, contain letters, one special character and numbers, and must not contain spaces</p>

        <a href="/forgot-password" class="lfp_link">Forgot Password?</a>
        <button type="button" onclick="login()">Login&ensp;<i class="fa fa-spinner fa-spin" id="lbl-anim"></i>
        </button>
        <button type="submit" style="display: none" id="slb">Submit</button>
        <a href="/signup" class="lunr_link">Create new Account</a>
    </form>
</div>

<div th:if="${session.registrationSuccessful}">
    <th:block th:text="${#session.removeAttribute('registrationSuccessful')}"/>
    <script>
        swal("Congratulations!", "Account created successfully!", "success");
    </script>
</div>

<div th:if="${session.passwordChangedSuccessfully}">
    <th:block th:text="${#session.removeAttribute('passwordChangedSuccessfully')}"/>
    <script>
        swal("", "Password changed successfully", "success");
    </script>
</div>

<div th:if="${logoutSuccess}!=null">
    <script>
        swal("", "Successfully logged out", "success");
    </script>
</div>

<div th:if="${param.invalid_credentials}">
    <script>
        $("#inv-cred").show();

        const fkey = (e) => {
            e = e || window.onkeydown;
            if (e.keyCode === 116) {
                window.location = "/login";
            }
        }
        document.onkeydown = fkey;
        document.onkeypress = fkey
        document.onkeyup = fkey;
    </script>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script>
    $(document).ready(() => {
        $("#lbl-anim").hide();
        $("#ere").hide();
        $("#eee").hide();
        $("#password-error").hide();
    })
</script>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</body>

</html>