<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>New Password</title>
    <style>

    </style>
</head>

<body>
<div class="new-pass-cont">
    <div class="np-form-cont">
        <form th:action="@{/process-new-password}" method="post" class="np-form" id="np-form">
            <h1 class="head">New Password</h1>

            <input type="password" id="new-pass" class="new-pass-input" name="new-pass" placeholder="Enter new password"
                   onfocusout="checkNP()" style="text-align: center">
            <div th:if="${session.npError}">
                <p id="np-error" class="color-error" style="margin-left: 5%; margin-right: 5%">Your password must be
                    minimum
                    8 characters long,
                    contain letters, one special character and numbers, and must not contain spaces</p>
                <th:block th:text="${#session.removeAttribute('npError')}"/>
            </div>
            <p id="np-error" class="color-error" style="margin-left: 5%; margin-right: 5%">Your password must be minimum
                8 characters long,
                contain letters, one special character and numbers, and must not contain spaces</p>


            <input type="password" id="conf-new-pass" class="new-pass-input" name="conf-new-pass"
                   style="text-align: center" placeholder="Confirm new password" onfocusout="checkCNP()">
            <div th:if="${session.cnpError}">
                <p id="cnp-error" class="color-error" style="margin-left: 5%; margin-right: 5%">Your password must be
                    minimum 8 characters long, contain letters, one special character and numbers, and must not contain
                    spaces</p>
                <th:block th:text="${#session.removeAttribute('cnpError')}"/>
            </div>
            <p id="cnp-error" class="color-error" style="margin-left: 5%; margin-right: 5%">Your password must be
                minimum 8 characters long, contain letters, one special character and numbers, and must not contain
                spaces</p>
            <div th:if="${session.npmError}">
                <p id="npm-error" class="color-error" style="margin-left: 5%; margin-right: 5%">Passwords mismatched</p>
                <th:block th:text="${#session.removeAttribute('npmError')}"/>
            </div>
            <p id="npm-error" class="color-error" style="margin-left: 5%; margin-right: 5%">Passwords mismatched</p>

            <button type="button" id="upbtn" class="new-pass-btn" onclick="validateNP()" style="margin-top: 30px;">
                Update Password
            </button>
            <button type="submit" id="snpbtn" style="display: none;"></button>
        </form>

    </div>
</div>


<!-- loader -->
<div class="loader-container" id="loader-container">
    <div class="loader"></div>
    <p class="loader-message">Processing your request</p>
</div>


<script>
    $(document).ready(() => {
        $("#np-error").hide();
        $("#cnp-error").hide();
        $("#npm-error").hide();
        $("#loader-container").hide();
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>