<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Verify OTP</title>
</head>

<body>
<!--navbar-->
<section th:insert="navbar :: navbar" style="display: flex;flex-direction: column;"></section>

<div class="otp-form-container">
    <div th:if="${session.newUserRegistration}">
        <form th:action="@{/process-otp-verification}" method="post" id="ver-otp-form" onsubmit="return false">
    </div>
    <div th:if="${session.forgotPasswordRequest}">
        <form th:action="@{/verify-fp-otp}" method="post" id="ver-otp-form" onsubmit="return false">
    </div>

    <div th:if="${session.newUserRegistration}">
        <p style="text-align: center; margin-bottom: 10px">
            Please Enter the OTP to verify your account
        </p>
    </div>

    <div th:if="${session.forgotPasswordRequest}">
        <p style="text-align: center; margin-bottom: 10px">
            Please Enter the OTP to change password
        </p>
    </div>

    <input class="otp-form-input" type="password" maxlength="6" placeholder="Enter 6-digit OTP" id="otp-sb-ti"
           pattern="[0-9]+" required
           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
               if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
    <br/>
    <p id="timer-countdown">Resend otp in <span id="timer"></span></p>

    <button type="button" class="orb-button disabled-button" id="orb" onclick="resendOTP()">Resend OTP</button>

    <div th:if="${session.newUserRegistration}">
        <button type="button" id="osb" onclick="confirmOTP('process-otp-verification')">Confirm OTP</button>
    </div>

    <div th:if="${session.forgotPasswordRequest}">
        <button type="button" id="osb" onclick="confirmOTP('verify-fp-otp')">Confirm OTP</button>
    </div>

    </form>
</div>

<!-- loader -->
<div class="loader-container" id="loader-container">
    <div class="otp-loader"></div>
    <p class="loader-message">Verifying OTP</p>
</div>

<div class="loader-container" id="resend-loader-container">
    <div class="otp-loader"></div>
    <p class="loader-message">Requesting new OTP</p>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript">
    $(document).ready(() => {
        $("#loader-container").hide();
        $("#resend-loader-container").hide();
        const orb = document.getElementById("orb");

        if (orb !== null) {
            orb.disabled = true;
        }

        let duration = 60;
        let display = document.getElementById("timer");
        startTimer(duration, display);
        $("#timer-countdown").show();
        $("#orb").hide();
    });
</script>
</body>

</html>