<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user-profile.css}"/>
    <link rel="stylesheet" th:href="@{/css/up-navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/up-sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/css/update-profile.css}"/>
    <title th:text="'Update Profile - ' + ${user.name}">Update Profile</title>
</head>

<body>
<div class="up-navbar">
    <div class="logo">
        <img
                th:src="@{/images/aglogo.png}"
                alt="ApnaGurukul logo"
                onclick="window.location='/'"
                src=""/>
    </div>

    <div class="links">
        <ul class="up-nvul">
            <li>
                <a href="/">Home</a>
            </li>

            <li onclick="logout()">
                <a href="#" onclick="logout()">Logout<i class="fa fa-caret-down"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="up-body">
    <div class="sidebar" id="sidebar">
        <ul>
            <li class="sb-link dashboard" onclick="window.location='/user/dashboard'">
                <a href="/user/dashboard">Dashboard</a>
            </li>

            <li
                    class="sb-link rec-act"
                    onclick="window.location = '/user/recent-activities'"
            >
                <a href="/user/recent-activities">Recent activities</a>
            </li>

            <li
                    class="sb-link my-noti"
                    onclick="window.location='/user/notifications'"
            >
                <a href="/user/notifications">My Notifications</a>
            </li>

            <!---->
            <li
                    class="sb-link my-noti"
                    onclick="window.location='/user/add-student'"
            >
                <a href="/user/add-student">Add Student</a>
            </li>

            <li
                    class="sb-link my-noti"
                    onclick="window.location='/user/add-teacher'"
            >
                <a href="/user/add-teacher">Add Teacher</a>
            </li>
            <!--            -->

            <li
                    class="sb-link profile"
                    onclick="window.location='/user/profile'"
            >
                <a href="/user/profile">My profile</a>
            </li>

            <li
                    class="sb-link updt-prfl"
                    onclick="window.location='/user/update-profile'"
                    style="border-left: 4px solid var(--myRed)"
            >
                <a href="/user/update-profile">Update profile</a>
            </li>

            <li
                    class="sb-link updt-prfl"
                    onclick="window.location='/user/change-password'"
            >
                <a href="/user/change-password">Change Password</a>

            </li>

            <li class="sb-link logout" onclick="logout()">
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="resp-icons" id="resp-icons">
            <i
                    class="fas fa-bars hmbg-mnicn"
                    id="hmbg-mnicn"
                    onclick="showSidemenu()"
            ></i>
            <i
                    class="fas fa-times cross-mnicn"
                    id="cross-mnicn"
                    onclick="hideSidemenu()"
            ></i>
        </div>

        <form class="up-form" th:action="@{/process-up}" method="post" onsubmit="return false;">
            <div class="up-info">
                <div class="p-info">
                    <img
                            class="user-dp"
                            id="user-dp"
                            src="https://png.pngtree.com/png-vector/20190909/ourmid/pngtree-outline-user-icon-png-image_1727916.jpg"
                            th:src="${user.profilePicture}"
                            alt="User profile image"
                    />
                    <button type="button" class="spp-btn" onclick="$('#profile-picture').click()">
                        <i class="fas fa-pencil-alt"></i>
                    </button>

                    <input
                            type="file"
                            name="profile-picture"
                            id="profile-picture"
                            style="display: none"
                            onchange="showUpdatedImage(this)"
                    />
                </div>

                <div class="uo-info">
                    <div class="uo-info-item">
                        <span>Email: </span>
                        <span class="info" name="email" id="email" th:text="${user.username}"></span>
                    </div>

                    <div class="uo-info-item">
                        <span>Name: </span>
                        <span class="info">
                  <input type="text" name="name" id="name" th:value="${user.name}"/>
                </span>
                    </div>

                    <div class="uo-info-item">
                        <span>Phone: </span>
                        <span class="info">
                            <input type="tel" name="phone" id="phone" th:value="${user.phone}"/>
                        </span>
                    </div>

                    <div class="uo-info-item">
                        <span>Address: </span>
                        <span class="info">
                            <input
                                    type="text"
                                    name="address"
                                    id="address"
                                    th:value="${user.address}"
                            />
                        </span>
                    </div>

                    <div class="uo-info-item">
                        <span>City: </span>
                        <span class="info">
                  <input type="text" name="city" id="city" th:value="${user.city}"/>
                </span>
                    </div>

                    <div class="uo-info-item">
                        <span>State: </span>
                        <span class="info">
                  <input type="text" name="state" id="state" th:value="${user.state}"/>
                </span>
                    </div>

                    <div class="uo-info-item">
                        <span>Country: </span>
                        <span class="info">
                  <input type="tel" name="country" id="country" th:value="${user.country}"/>
                </span>
                    </div>

                    <div class="uo-info-item">
                        <span>Pincode: </span>
                        <span class="info">
                  <input type="text" name="pincode" id="pincode" th:value="${user.pincode}"/>
                </span>
                    </div>

                    <p class="error" id="nm-err">Name field is invalid</p>
                    <p class="error" id="ph-err">Phone should be of format XXXXXXXXXX</p>
                    <p class="error" id="add-err">Address field is invalid</p>
                    <p class="error" id="ct-err">City field is invalid</p>
                    <p class="error" id="st-err">State field is invalid</p>
                    <p class="error" id="pc-err">Pincode field is invalid</p>

                    <div class="btns">
                        <button type="button" class="up-cncl-btn" onclick="location.location='/user/dashboard'">Cancel
                        </button>
                        <button type="button" class="up-sbmt-btn" onclick="validateUpdateForm()">Update</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="loader-div" id="loader-div">
    <div class="loader"></div>
</div>

<noscript>Please enable JavaScript to view this page</noscript>
<script th:src="@{/js/user-profile.js}"></script>
<script th:src="@{/js/update-profile.js}"></script>
</body>

</html>