* {
    box-sizing: border-box;
}

.content,
.content .at-add-form {
    width: 100%;
    margin-bottom: 2rem;
}

.content .at-add-form {
    margin-top: 4rem;
}

.content .at-add-form h2 {
    text-align: center;
    margin: 1.6rem auto 1.2rem auto;
    text-decoration: underline;
}

.at-form {
    box-shadow: 0 0 2px #f93154;
    border: none;
    outline: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.at-form .as-info {
    padding: 1rem;
}

.at-form .as-info .p-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.at-form .as-info .p-info img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px #000;
    transition: all 0.25s;
}

.at-form .as-info .p-info .spp-btn {
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #75b798;
    color: #fff;
}

.at-form .as-info .p-info .spp-btn:hover {
    box-shadow: 0 0 4px #75b798;
}

.at-form .as-info .uo-info {
    display: flex;
    flex-direction: column;
}

.at-form .as-info .uo-info .as-info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto 1rem 1rem 1rem;
}

.at-form .as-info .uo-info .as-info-item span:nth-child(1) {
    width: 25%;
    text-align: right;
    margin-right: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.at-form .as-info .uo-info .as-info-item span {
    cursor: default;
    letter-spacing: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.at-form .as-info .uo-info .as-info-item input {
    border-width: 0 0 1px 0;
    padding: 0.25rem;
    outline: none;
    width: 85%;
    letter-spacing: 1px;
}

.at-form .as-info .uo-info .as-info-item .info {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.at-form .as-info .uo-info .btns {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 0.75rem;
}

.at-form .as-info .uo-info .btns .up-sbmt-btn,
.at-form .as-info .uo-info .btns .up-cncl-btn {
    width: 8rem;
    height: 2.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: none;
    border: none;
}

.at-form .as-info .uo-info .btns button:nth-child(1) {
    margin-right: 0.5rem;
    background-color: #96999b;
    color: #000;
}

.at-form .as-info .uo-info .btns button:nth-child(1):hover {
    box-shadow: 0 0 4px #96999b;
}

.at-form .as-info .uo-info .btns button:nth-child(2) {
    background-color: #f93154;
    color: #fff;
}

.at-form .as-info .uo-info .btns button:nth-child(2):hover {
    box-shadow: 0 0 4px #f93154;
}

.error {
    /* margin-top: 0.75rem; */
    color: #dc3545 !important;
    font-size: 0.875em;
    text-align: center;
}


/* loader CSS */
.loader-div {
    background-color: rgba(118, 118, 119, 0.66);
    height: 100vh;
    backdrop-filter: blur(1px);
    width: 100vw;
    position: fixed;
    top: 0;
    display: none;
    z-index: 999;
}

.loader {
    border: 10px solid #dddddd;
    position: absolute;
    border-top: 10px solid var(--myRed);
    border-radius: 50%;
    width: 66px;
    height: 66px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    animation: loaderspin 0.75s linear infinite;
}

@keyframes loaderspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* responsive design CSS */
@media only screen and (max-width: 1100px) {
    .content .at-add-form {
        margin-top: 2rem;
    }

    .at-form {
        width: 66%;
    }

    .at-form .as-info .p-info img {
        width: 160px;
        height: 160px;
    }
}

@media only screen and (max-width: 768px) {
    .at-form {
        width: 75%;
    }

    .at-form .as-info .p-info img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .content .at-add-form {
        margin-top: 0;
    }

    .at-form {
        width: 95%;
    }

    .at-form .as-info .p-info img {
        width: 125px;
        height: 125px;
    }

    .at-form .as-info .uo-info .as-info-item span {
        font-size: 0.95rem;
    }

    .loader {
        width: 56px;
        height: 56px;
        border: 8px solid #f3f3f3;
        border-top: 8px solid var(--myRed);
    }
}

@media only screen and (max-width: 448px) {
    .up-body .content {
        margin: auto;
        margin-top: 0.75rem;
        width: 100%;
    }

    .at-form {
        margin-top: 0.5rem;
    }

    .at-form .as-info .uo-info .as-info-item span:nth-child(1) {
        width: 33%;
        margin-right: 0.5rem;
    }

    .at-form .as-info .uo-info .as-info-item input {
        width: 100%;
    }

    .loader {
        width: 50px;
        height: 50px;
        border: 7px solid #f3f3f3;
        border-top: 7px solid var(--myRed);
    }
}

@media only screen and (max-width: 325px) {
    .up-body .content {
        margin-bottom: 0.5rem;
    }

    .at-form .as-info {
        padding: 0;
    }

    .at-form .as-info .p-info {
        margin: 1rem 0 0.25rem 0;
    }

    .at-form .as-info .p-info img {
        width: 100px;
        height: 100px;
    }

    .at-form .as-info .uo-info .as-info-item {
        margin: auto 0.75rem 1rem 0.75rem;
    }

    .at-form .as-info .uo-info .as-info-item span {
        font-size: 0.9rem;
    }

    .at-form .as-info .uo-info .btns {
        margin-bottom: 0.75rem;
    }

    .at-form .as-info .uo-info .btns .up-sbmt-btn,
    .at-form .as-info .uo-info .btns .up-cncl-btn {
        width: 6rem;
        height: 2rem;
        padding: 0.25rem;
    }

    .loader {
        width: 40px;
        height: 40px;
        border: 6px solid #f3f3f3;
        border-top: 6px solid var(--myRed);
    }
}