/* Home page styling */
.home-cont-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 18px;
    padding: 0 5% 0 5%;
    height: 60vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
    ),
    url("/images/front-background.jpg");
    background-size: cover;
}

.home-cont-1 p {
    font-size: 2rem;
    font-family: var(--myFontFamily);
}

.hmcn1-p {
    padding: 10px;
    width: 66%;
    text-align: center;
}

.hmsp1-img {
    width: 250px;
    height: 250px;
    /*padding: 1rem;*/
}

/* statistics content styling */
.hm-osts {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.hm-osts h1 {
    text-align: center;
}

.hm-osts .osts-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hm-osts .osts-cards .osts-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 5px;
    border: none;
    height: 275px;
    width: 275px;
    margin: 20px;
    -moz-box-shadow: 0 0 10px rgba(247, 84, 111, 0.25);
    -webkit-box-shadow: 0 0 10px rgba(247, 84, 111, 0.25);
    box-shadow: 0 0 10px rgba(247, 84, 111, 0.25);
}

.hm-osts .osts-cards .osts-card:hover {
    cursor: default;
    background-color: rgb(250, 250, 250);
}

.hm-osts .osts-cards .osts-card .stats {
    font-family: var(--myFontFamily);
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.hm-osts .osts-cards .osts-card p {
    font-size: 1.1rem;
}

/* services tabs styling */
.hm-srvscnt {
    padding: 10px;
    margin-top: 2%;
}

.hm-srvscnt h1 {
    text-align: center;
}

.hm-srvscnt p {
    margin-top: 16px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.hm-srvscnt .serv-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.hm-srvscnt .serv-cards .serv-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 5px;
    border: none;
    height: 275px;
    width: 275px;
    margin: 20px;
    -moz-box-shadow: 0 0 10px rgba(249, 49, 84, 0.25);
    -webkit-box-shadow: 0 0 10px rgba(249, 49, 84, 0.25);
    box-shadow: 0 0 10px rgba(249, 49, 84, 0.25);
}

.hm-srvscnt .serv-cards .serv-card:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    -moz-box-shadow: 0 0 10px 1px rgba(249, 49, 84, 0.5);
    -webkit-box-shadow: 0 0 10px 1px rgba(249, 49, 84, 0.5);
    box-shadow: 0 0 10px 1px rgba(249, 49, 84, 0.5);
}

/* blurs other services card except currently hovered one */
@media only screen and (min-width: 1150px) {
    .serv-cards:hover > div {
        opacity: 0.3;
    }

    .serv-cards:hover > div:hover {
        opacity: 1;
    }
}

.hm-srvscnt .serv-cards .serv-fcard {
    margin-right: 0;
}

.hm-srvscnt .serv-cards .serv-card h3 {
    margin-top: 5%;
}

.hm-ogcnt {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(249, 49, 84, 0.25);
    -webkit-box-shadow: 0 0 10px rgba(249, 49, 84, 0.25);
    box-shadow: 0 0 10px rgba(249, 49, 84, 0.25);
}

.hm-ogcnt h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.hm-ogcnt p {
    margin: 10px 5%;
    line-height: 1.6;
    text-align: justify;
}

.hm-ogcnt .knab-btn {
    width: 15%;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 24px;
    border: none;
    background-color: #f84260;
    color: #fff;
}

.hm-ogcnt .knab-btn:hover {
    cursor: pointer;
    background-color: #ec3050;
}

@media only screen and (max-width: 1200px) {
    .hm-srvscnt .serv-cards {
        justify-content: center;
    }

    .hmsp1-img {
        width: 225px;
        height: 225px;
    }

    .home-cont-1 p {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 1050px) {
    .hm-srvscnt .serv-cards .serv-card {
        width: 250px;
        height: 250px;
    }

    .home-cont-1 p {
        font-size: 1.85rem;
    }

    .hm-ogcnt .knab-btn {
        width: 20%;
    }
}

@media only screen and (max-width: 900px) {
    .hmsp1-img {
        width: 200px;
        height: 200px;
    }

    .home-cont-1 {
        height: 50vh;
    }

    .home-cont-1 p {
        font-size: 1.75rem;
    }

    .hm-srvscnt .serv-cards .serv-card {
        width: 225px;
        height: 225px;
    }
}

@media only screen and (max-width: 768px) {
    .hmsp1-img {
        width: 175px;
        height: 175px;
    }

    .home-cont-1 p {
        font-size: 1.6rem;
    }

    .hm-srvscnt .serv-cards {
        justify-content: center;
    }

    .hm-srvscnt .serv-cards .serv-card {
        width: 200px;
        height: 200px;
    }

    .hm-ogcnt .knab-btn {
        width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .hmsp1-img {
        width: 150px;
        height: 150px;
    }

    .home-cont-1 p {
        font-size: 1.5rem;
    }

    .hm-srvscnt .serv-cards .serv-card {
        width: 175px;
        height: 175px;
    }
}

@media only screen and (max-width: 525px) {
    .hm-srvscnt .serv-cards .serv-card {
        width: 150px;
    }

    .hm-ogcnt .knab-btn {
        width: 30%;
    }

    .hm-srvscnt p {
        margin-top: 12px;
    }

    .hm-srvscnt p {
        margin-top: 12px;
        padding: 5px;
        font-size: 14px;
    }

    .hm-osts .osts-cards .osts-card {
        height: 225px;
    }

    .hm-osts .osts-cards .osts-card .stats {
        font-size: 2.25rem;
    }
}

@media only screen and (max-width: 450px) {
    .home-cont-1 {
        height: 45vh;
    }

    .hm-osts h1,
    .hm-srvscnt h1 {
        font-size: 1.75rem;
    }

    .hmsp1-img {
        width: 125px;
        height: 125px;
    }

    .home-cont-1 p {
        font-size: 1.25rem;
    }

    .hm-srvscnt .serv-cards .serv-card {
        width: 125px;
    }

    .hm-srvscnt .serv-cards .serv-card img {
        width: 48px;
        height: 48px;
    }

    .hm-osts .osts-cards .osts-card {
        height: 175px;
        margin: 20px 8px 20px 8px;
    }

    .hm-osts .osts-cards .osts-card .stats {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 350px) {
    .home-cont-1 {
        height: 45vh;
    }

    .hmsp1-img {
        width: 125px;
        height: 125px;
    }

    .home-cont-1 p {
        font-size: 1.2rem;
        width: 100%;
    }

    .hm-srvscnt .serv-cards .serv-card {
        width: 175px;
        height: 150px;
    }

    .hm-ogcnt .knab-btn {
        width: 40%;
    }

    .hm-ogcnt p {
        line-height: 1.3;
    }

    .hm-osts .osts-cards .osts-card {
        height: 150px;
        width: 150px;
    }

    .hm-osts .osts-cards .osts-card .stats {
        font-size: 1.25rem;
    }

    .hm-osts .osts-cards .osts-card p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 250px) {
    .home-cont-1 {
        height: 40vh;
    }

    .hm-osts {
        margin-right: 10%;
    }

    .hm-osts h1,
    .hm-srvscnt h1 {
        font-size: 1.5rem;
    }

    .hmsp1-img {
        width: 100px;
        height: 100px;
    }

    .home-cont-1 p {
        font-size: 1rem;
    }

    .hm-srvscnt .serv-cards .serv-card img {
        width: 24px;
        height: 24px;
    }

    .hm-ogcnt .knab-btn {
        width: 50%;
    }

    .hm-ogcnt p {
        line-height: initial;
    }

    .hm-osts .osts-cards .osts-card {
        height: 125px;
        margin-right: 0;
    }

    .hm-osts .osts-cards .osts-card .stats {
        font-size: 1rem;
    }

    .hm-osts .osts-cards .osts-card p {
        font-size: 0.75rem;
    }
}

@media only screen and (max-height: 500px) {
    .home-cont-1 {
        height: 66vh;
    }

    .home-cont-1 p {
        font-size: 1.25rem;
    }

    .hmsp1-img {
        width: 125px;
        height: 125px;
    }

    .hm-osts .osts-cards .osts-card {
        height: 200px;
        width: 200px;
    }
}

/* blurs other services card except currently hovered one */
@media only screen and (min-width: 1280px) {
    .serv-cards:hover > div {
        opacity: 0.3;
    }

    .serv-cards:hover > div:hover {
        opacity: 1;
    }
}

/* end of home page styling */