@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
    --myFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*signup page styling*/
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-top: 6vh;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #26A69A;
    border-radius: 16px;
}

.signup-form-field {
    margin: 0 10% 20px 10%;
    width: 80%;
}

.signup-form-input {
    padding: 0.50rem;
    border-color: pink;
    outline: none;
    margin: 10px 5% 10px 5%;
    width: 86%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 16px;
}

.signup-form select {
    margin: 0 5% 10px 5%;
    width: 90%;
    font: 400 16px Arial;
    padding-top: .375rem;
    padding-bottom: .375rem;
    text-align: center;
    line-height: 1.5;
    outline: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.signup-form .color-error {
    margin-left: 5%;
}

.signup-form-input:focus {
    border-color: rgba(76, 175, 80, 0.8);
    border-width: 1.5px;
    transition: border-color 0.2s ease-in-out;
}

.signup-form button {
    border-radius: 32px;
    width: 40%;
    height: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 10px 10px 28px 10px;
    outline: none;
    background-color: #4DB6AC;
    color: #fff;
    font-size: 14px;
    font-family: var(--myFontFamily);
    border: none;
}

.signup-form button:hover {
    cursor: pointer;
    background-color: #26A69A;
    -moz-box-shadow: 0 0 5px #4DB6AC;
    -webkit-box-shadow: 0 0 5px #4DB6AC;
    box-shadow: 0 0 5px #4DB6AC;
    transition: all 200ms ease-in-out;
}

.color-error {
    margin-top: .50rem;
    color: #dc3545 !important;
    font-size: .875em;
}

/*OTP verify page styling*/
.otp-form-container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25vh;
    border: 2px solid lightgray;
    padding: 30px;
    border-radius: 8px;
}

.otp-form-input {
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-align: center;
    line-height: 1.5;
    font: 400 13px Arial;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.otp-form-container button {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    outline: none;
    border: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.otp-form-container button:hover {
    cursor: pointer;
}

.otp-form-container button:focus {
    border: 2px solid #ced4da;
}

.orb-button {
    margin-bottom: 10px;
    background-color: #f93154 !important;
    color: #fff;
}

#osb {
    background-color: #4285f4;
    color: #fff;
}

#timer-countdown {
    text-align: center;
    margin-bottom: 10px;
}


/*loader animation*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 213, 226, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    position: relative;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #f93154;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.otp-loader {
    position: relative;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #538FFB;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-message {
    position: relative;
    font-weight: 400;
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', sans-serif;;
}

/*login page styling*/
.login-container {
    position: absolute;
    margin-top: 0;
    margin-left: 60%;
    padding: 0;
    width: 35%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid 2px #39C0ED;
}

.login-form .heading, .signup-form .heading {
    font-size: 40px;
    background: -webkit-linear-gradient(180deg, #ff9f4a, #ff3c83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;

}

.login-input-field, .new-pass-input {
    padding: 0.50rem;
    width: 66%;
    border-color: pink;
    outline: none;
    margin-top: 30px;
    transition: width 0.2318s ease-in-out;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 16px;
}

.login-input-field:focus, .new-pass-input:focus {
    width: 75%;
    transition: width 0.2318s ease-in-out;
}

.login-container .login-form button {
    padding: 0.50rem;
    width: 50%;
    border-radius: 20px;
    outline: none;
    border: 2px solid #F93154;
    background-color: #F93154;
    margin-top: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

.login-container .login-form button i {
    position: relative;
    float: right;
    margin-top: 2px;
    font-size: 20px;
}

.login-container .login-form button:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #F93154;
    -webkit-box-shadow: 0 0 5px #F93154;
    box-shadow: 0 0 5px #F93154;
    transition: all 200ms ease-in-out;
}

.lfp_link, .lunr_link {
    text-decoration: none;
    margin-top: 40px;
    color: #333;
    padding-bottom: 5px;
    position: relative;
}

.lfp_link:before, .lunr_link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}

.lfp_link:hover:before, .lunr_link:hover:before {
    visibility: visible;
    transform: scaleX(0.99);
}

/*forgot password styling*/
.fp-cont {
    margin-left: 30%;
    margin-top: 15vh;
    min-height: 50px;
    width: 40%;
}

.fp-form-cont {
    padding: 10px;
}

.fp-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.fp-form fieldset {
    width: 90%;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fp-form fieldset input {
    width: 66%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 16px;
    transition: width 0.2s ease-in-out;
}

.fp-form fieldset input:focus {
    outline: none;
    width: 82%;
    transition: width 0.2s ease-in-out;
}

.fp-button {
    padding: 0.50rem;
    outline: none;
    background-color: #00B74A;
    margin-top: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    width: 50%;
    height: 30px;
    border-radius: 16px;
    border: none;
}

.fp-button:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #00B74A;
    -webkit-box-shadow: 0 0 5px #00B74A;
    box-shadow: 0 0 5px #00B74A;
    transition: all 200ms ease-in-out;
}

.fp-form fieldset p {
    margin-bottom: 0;
}

/*new password section styling*/
.new-pass-cont {
    margin-left: 30%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    min-height: 70vh;
}

.np-form-cont {
    width: 100%;
    border: 2px solid green;
    border-radius: 4px;
    padding: 50px 10px 50px 10px;
}

.np-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new-pass-btn {
    padding: 0.50rem;
    width: 50%;
    border-radius: 20px;
    outline: none;
    border: 2px solid #F93154;
    background-color: #F93154;
    margin-top: 50px !important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

.new-pass-btn:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #F93154;
    -webkit-box-shadow: 0 0 5px #F93154;
    box-shadow: 0 0 5px #F93154;
    transition: all 200ms ease-in-out;
    color: #E9E4E3;
}

.np-form .head {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

/*responsive styling*/
@media only screen and (max-width: 1100px) {
    .login-container {
        margin-left: 55%;
        width: 40%;
    }

    .otp-form-container {
        margin-top: 25vh;
        margin-left: 30%;
        margin-right: 30%;
    }

    .new-pass-cont {
        margin-left: 28%;
        width: 44%;
    }

    .np-form-cont {
        padding: 50px 0 50px 0;
    }

    .signup-form {
        margin-top: 4vh;
    }

    .signup-form {
        margin-top: 4vh;
    }

    .signup-form .heading {
        margin-bottom: 36px;
    }

    .signup-form .heading {
        margin-bottom: 18px;
    }

    #signup-aib {
        margin-top: 2vh;
    }

    #signup-aib p {
        margin: 0 15px 15px 15px !important;
    }
}

@media only screen and (max-width: 900px) {
    .new-pass-cont {
        margin-left: 25%;
        width: 50%;
    }

    .np-form-cont {
        padding: 40px 0 40px 0;
    }

    .fp-cont {
        margin-left: 25%;
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .login-container {
        width: 45%;
        margin-left: 50%;
    }

    .otp-form-container {
        margin-left: 25%;
        margin-right: 25%;
        padding: 25px;
    }

    .new-pass-cont {
        margin-left: 20%;
        width: 60%;
    }

    .np-form-cont {
        padding: 30px 0 30px 0;
    }

    .fp-cont {
        margin-left: 20%;
        width: 60%;
        margin-top: 20vh;
    }

    .signup-form {
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 600px) {
    .login-container {
        margin-left: 20%;
        width: 60%;
    }

    .otp-form-container {
        margin-left: 20%;
        margin-right: 20%;
        padding: 20px;
    }

    .new-pass-cont {
        margin-left: 15%;
        width: 70%;
    }

    .np-form-cont {
        padding: 20px 0 20px 0;
    }

    .fp-cont {
        margin-left: 15%;
        width: 70%;
        margin-top: 25vh;
    }

    .signup-form {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
}

@media only screen and (max-width: 450px) {
    .login-container {
        margin-left: 15%;
        width: 70%;
    }

    .otp-form-container {
        margin-left: 15%;
        margin-right: 15%;
        padding: 15px;
    }

    .new-pass-cont {
        margin-left: 10%;
        width: 80%;
    }

    .fp-cont {
        margin-left: 10%;
        width: 80%;
        margin-top: 25vh;
    }

    .signup-form {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
}

@media only screen and (max-width: 350px) {
    .login-container {
        margin-left: 5%;
        width: 90%;
    }

    .login-form .heading, .signup-form .heading {
        font-size: 32px;
    }

    .login-input-field {
        font-size: 14px;
    }

    .otp-form-container {
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px;
    }

    .new-pass-cont {
        margin-left: 5%;
        width: 90%;
    }

    .fp-cont {
        margin-left: 2%;
        width: 96%;
        margin-top: 25vh;
    }

    .signup-form {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .signup-form button {
        width: 60%;
        height: 40px;
        margin-left: 20%;
        margin-right: 20%;
    }
}